<div class="container-fluid bg-dark text-light">
    <div class="row align-items-center">
        <div class="col-6">
            <h1 class="p-3">Pizzeria</h1>
        </div>
        <div class="col-6 align-self-center">
            <a class="fs-6 btn btn-primary" href="{% url 'Mizuki_app:waitersPage'%}">Meseros</a>
            <a class="fs-6 btn btn-primary" href="{% url 'Mizuki_app:kitchenPage'%}">Cocina</a>
            <a class="fs-6 btn btn-primary" href="{% url 'Mizuki_app:cashierPage'%}">Caja</a>
        </div>
    </div>
</div>